html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

.video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -99;
}

.menu-container {
    position: absolute;
    bottom: 0;
    text-align: left;
    margin-left: 1%;
    padding-bottom: 3%;
}

.arrow-up,
.arrow-down,
.space {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}

.arrow-up img,
.arrow-down img,
.space img {
    margin-right: 5px;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-center {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sky {
    height: 100%;
    color: #FFF;
    display: block;
}

#circleG {
    position: absolute;
    width: auto;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 0;
    margin-bottom: 3.5%;
    margin-right: 1%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.6%;
    border-radius: 20%;
}

.circleG{   
	background-color:#0084ff;
	height:10px;
	width:10px;
	animation-name:bounce_circleG;
	animation-duration:1.5s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	border-radius:9px;
}
div#circleG > .circleG:nth-child(even) {
	margin: 0 7px;
}
#circleG_1{
	animation-delay:0.3s;
}
#circleG_2{
	animation-delay:0.7s;
}
#circleG_3{
	animation-delay:0.9s;
}
@keyframes bounce_circleG{
	0%{
	}
	50%{
		background-color: rgb(255, 255, 255)
	}
	100%{
	}
}

